@charset "UTF-8";
/* CSS Document */

.shortcode-builder-wrapper { margin: -6px 0 -8px -10px; float: left; width: 100%; padding-right: 20px; }
.shortcode-section { float: left; width: 100%; padding: 0 20px 0 0; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #fff; background: url(../images/shortcodes/generator-border.gif) repeat-y 200px 0; }
.shortcode-section:hover, .shortcode-fields-field:hover { background-color: #fcfcfc; }
.shortcode-shortcode-specific:hover { background-color: transparent; }
.shortcode-label { float: left; width: 160px; padding: 20px; font: bold 14px/18px Helvetica, Arial, sans-serif; color: #505050; text-shadow: 0 1px 0 #ffffff; }
.shortcode-field { padding: 20px; margin-left: 210px; }

.shortcode-shortcode, .shortcode-shortcode-specific, #shortcodes-insert { display: none; }
#shortcodes-insert { border-top: 1px solid #dfdfdf; margin-top: -2px;
box-shadow: inset 0 1px 0 #ffffff; }

.shortcode-fields-field { margin-left: 202px; border-bottom: 1px solid #dfdfdf; margin-right: -20px;
box-shadow: 0 1px 0 #ffffff; -moz-box-shadow: 0 1px 0 #ffffff; -webkit-box-shadow: 0 1px 0 #ffffff; -o-box-shadow: 0 1px 0 #ffffff; -ms-box-shadow: 0 1px 0 #ffffff; }

.shortcode-field-title { float: left; width: 100px; margin-right: 20px; font: bold 12px/15px Helvetica, Arial, sans-serif; padding: 25px 20px 25px 35px; text-shadow: 0 1px 0 #ffffff; }
.shortcode-field-desc { float: right; width: 150px; font: italic 12px/15px Georgia, "Times New Roman", Times, serif; color: #808080; padding: 25px 10px 25px 0; }
.shortcode-field-input { padding: 20px 0; display: inline-block; width: 200px; }

.shortcode-field-info {
padding: 10px 10px 10px 15px;
font: italic 14px/17px Georgia;
color: #808080;
}

.theicons { list-style: none; padding: 0; margin: 0; }
.theicons li { float: left; width: 20px; height: 20px; margin: 2px; padding: 5px; border: 1px solid #dfdfdf; background: white; text-align: center; cursor: pointer;
-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px;
-webkit-transition: all .13s ease-in-out; -moz-transition: all .13s ease-in-out; -ms-transition: all .13s ease-in-out; -o-transition: all .13s ease-in-out; transition: all .13s ease-in-out; }
.theicons li:hover { border-color: #da2639; }
.theicons li.selected { border-color: #da2639; background: #f0f0f0; }
.theicons li i { line-height: 20px; }